/* regole generali */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.row::after{
  content: "";
  display: table;
  clear: both;
}

.container{
  margin-left: 10%;
}


/* regole di header */
header{
  /* regole di debug */
  height: 160px;
}

.row.topheader{
  /* regole di debug */
  height: 80px;
  background-color: lightblue;
}

.row.nav{
  /* regole di debug */
  height: 80px;
}

/* regole jumbotron */

.jumbotron{
  position: relative;
  /* regole di debug */
  height: 500px;
  background-color: lightpink;
}

.container.contentjumbo{
  /* regole di debug */
  height: 300px;
  width: 300px;
  background-color: red;
  position: absolute;
  top: 10%;
}

.pagedivision{
  position: absolute;
  bottom: 0;
  left: 0;
  /* regole di debug */
  height: 100px;
  width: 100%;
  background-color: lightgreen;
}

/* regole di main */
main{
  /* regole di debug */
  height: 1000px;
  background-color: lightblue;
}

.titlemain{
  /* regole di debug */
  display: inline-block;
  height: 250px;
  width: 500px;
  background-color: red;
  margin: 50px 300px;
}

.section.main.first{
  /* regoli dei debug */
  height: 200px;
  width: 80%;
  background-color: #fff;
}

.columns{
  float: left;
}

.columns.maintopleft{
  /* regole di debug */
  height: 100px;
  width: 100px;
  background-color: red;
  margin-top: 50px;
  margin-left: 80px;
}

.columns.maintopright{
  /* regole di debug */
  height: 150px;
  width: 50%;
  background-color: red;
  margin-top: 30px;
  margin-left: 70px;
}
