/* regole generali */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Montserrat', sans-serif;
}

.row::after{
  content: "";
  display: table;
  clear: both;
}

.container{
  margin-left: 10%;
}

.button{
  border-radius: 5px;
}

.button.orange.big{
  padding: 15px 23px;
}

.button.orange{
  background-color: #ff7a59;
  border-color: #ff7a59;
  color: #fff;
}

.noline.button{
  color: #fff;
}

.noline{
  text-decoration: none;
}

/* regole di header */
header{
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 200;
}

.boxheaderfloat.left{
  float: left;
}

.boxheaderfloat.right{
  float: right;
}

.boxheaderfloat{
  color: rgb(44, 64, 81);
}

/* regole topheader */
.row.topheader{
  height: 60px;
  background-color: #f4f9fd;
  border-bottom: 1px solid rgb(44, 64, 81);
}

.container.header{
  line-height: 60px;
}

.boxheaderfloat.top.left>.fas.fa-chevron-down{
  border-right: 2px solid rgb(126, 136, 140);
  padding-right: 15px;
}

.boxheaderfloat.top.left>a{
  color: rgb(44, 64, 81);
  padding-left: 15px;
}

.boxheaderfloat.top.right{
  margin-right: 10%;
}

.fas.fa-search{
  color: rgb(0, 154, 181);
}

#buttonwhite, #buttonslim{
  padding: 10px 12px;
}

#buttonwhite{
  border-color: rgb(254, 107, 80);
  background-color: #fff;
  margin-right: 15px;
  margin-left: 15px;
}

#buttonwhite>a{
  color: rgb(254, 107, 80);
}

/* regole header bottom */
.row.nav{
  height: 60px;
  background-color: #fff;
}

.boxheaderfloat.bottom.right{
  margin-right: 9%;
}

.boxheaderfloat.bottom.right>span, .boxheaderfloat.bottom.right>i{
  padding-right: 15px;
}

.boxheaderfloat.bottom.left img{
  padding-top: 14px;
}

/* regole jumbotron */
.jumbotron{
  position: relative;
  background-color: #fff5ef;
  background-image: url("../img/jumbotron.png");
  background-size: 1060px;
  background-position: 100% 100%;
  background-repeat: no-repeat;
  height: 500px;
  margin-top: 120px;
}

.container.contentjumbo{
  width: 28%;
  padding-top: 40px;
}

.contentjumbo{
  color: rgb(45, 62, 81);
}

.contentjumbo>h1{
  font-size: 50px;
  font-weight: 500;
}

.contentjumbo>p{
  margin-top: 30px;
  margin-bottom: 30px;
}

.contentjumbo>span{
  display: block;
  margin-top: 20px;
}

.pagedivision{
  background-color: rgb(166, 232, 224);
  border-top: 2px solid rgb(45, 62, 81);
  border-bottom: 2px solid rgb(45, 62, 81);
  position: absolute;
  bottom: 0;
  left: 0;
  height: 82px;
  width: 100%;
}

/* regole di main */
main{
  /* regole di debug */
}

.contenitore.azzurro{
  background-color: #f4f9fd;
}

.titlemain{
  text-align: center;
  padding-top: 80px;
}

.titlemain>img{
  width: 23%;
}

.titlemain>h2{
  font-size: 35px;
  padding-bottom: 35px;
}

.titlemain>p{
  font-weight: 200;
  padding-bottom: 50px;
}

/* regole prima sezione main */
.section.main.first{
  width: 90%;
  background-color: #fff;
}

.columns{
  float: left;
}

.columns.mainfirstleft{
  width: 35%;
  padding-top: 60px;
  padding-left: 10%;
}

.columns.mainfirstleft>img{
  width: 41%;
  display: block;
}

.columns.mainfirstleft>button{
  margin-top: 40px;
  margin-left: 15px;
  padding-bottom: 60px;
}

.columns.mainfirstright{
  width: 45%;
  padding-top: 60px;
}

.columns.mainfirstright>h3{
  margin-bottom: 35px;
  font-weight: 600;
}

.columns.mainfirstright>p{
  line-height: 1.8;
  margin-bottom: 50px;
}

.columns.mainfirstright>div,.columns.mainfirstright>ul{
  padding-bottom: 40px;
}

#spanbold{
  font-weight: 600;
}

#cihopersounavita{
  display: inline-block;
  width: 70%;
  height: 2px;
  margin-left: 5%;
  background-color: rgb(126, 136, 140);
  vertical-align: middle;
}

.columns.mainfirstright i{
  padding-right: 20px;
  color: #ff7a59;
}

.columns.mainfirstright li{
  display: inline-block;
  padding-right: 30px;
}

.columns.mainsecond{
  /* regole di debug */
  height: 400px;
  width: 250px;
  background-color: #fff;
  margin: 50px 50px 0 0 ;
}

.contenitore.verde{
  /* regole di debug */
  height: 800px;
  background-color: green;
}

.titlesectionthird{
  /* regole di debug */
  display: inline-block;
  height: 150px;
  width: 80%;
  background-color: white;
  margin-top: 30px;
  margin-bottom: 50px;
}

.blockinfo.middle{
  float: left;
  /* regole di debug */
  height: 200px;
  width: 20%;
  background-color: yellow;
  border-bottom: 1px solid black;
}

.blockinfo.middle.marginleft{
  /* regole di debug */
  border-left: 1px solid black;
}

.blockinfo.bottom{
  /* regole debug */
  float: left;
}

.blockinfo.bottom.left{
  /* regole di debug */
  width: 20%;
  height: 200px;
  background-color: red;
  margin-top: 50px;
}

.blockinfo.bottom.right{
  /* regole di debug */
  width: 40%;
  height: 200px;
  margin-top: 50px;
  margin-left: 20%;
  background-color: red;
}

footer{
  /* regole debug */
  height: 900px;
  background-color: blue;
}

.section.footer.first{
  margin-bottom: 50px;
}

.list{
  /* regole debug */
  width: 20%;
  height: 500px;
  background-color: #fff;
  float: left;
  margin-top: 50px;
  margin-right: 3%;
}

.asidefooter{
  /* regole di debug */
  height: 100px;
  width: 30%;
  background-color: #fff;
  margin-top: 100px;
}

.asidefooter.left{
  float: left;
}

.asidefooter.right{
  float: right;
}
